/* Evita que las imágenes parpadeen al cargar */
img {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Scrollbar para que no salte el layout */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #212529;
}

.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #212529;
}